<h1>Welcome to Express Auth</h1>

<a href="/auth/signup" class="btn btn-primary">Signup</a>
<a href="/auth/login" class="btn btn-primary">Login</a>
<a href="/auth/logout" class="btn btn-primary">Logout</a>
<a href="/secret" class="btn btn-primary">Secret page</a>
